name: ESLint CI

on:
  - push

jobs:
  build:
    name: Run ESLint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '14'
        check-latest: true
    - run: npm install
    - run: npm install eslint
    - run: eslint .
